@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.footer {
  background-color: $color-primary;
  padding: $p-3 0;
  text-align: $align-center;

  &Icons {
    margin-bottom: $m-1;
  }

  &Copy {
    @include font($font-family-primary, $font-weight-medium, $font-small);

    color: $color-light;
  }
}
