@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.header {
  @include centered-flex(space-between);
  width: $base-width;
  padding: $p-4 $p-5 0;
  position: $p-absolute;
}
