@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.about {
  background-color: $bg-secondary;
  padding-top: $p-2 * 2;

  &Content {
    display: $d-grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    align-items: $align-center;
    grid-gap: $g-4 * 2;
  }

  &Bio {
    @include font($font-family-secondary, $font-weight-semi-bold, $f-7);

    line-height: 1.6;

    span {
      @include font($font-family-primary, $font-weight-semi-bold, $f-4);
    }
  }

  .infoCards {
    display: $d-grid;
    justify-content: $justify-center;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 12rem;
    transform: translateY(50%);
  }
}
