@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/breakpoints" as *;

.about {
  background-color: $bg-secondary;
  padding-top: $p-4;
  padding-bottom: $p-6;

  @include breakpoint($bp: 52.69em) {
    padding-bottom: 0;
  }

  &Content {
    display: $d-grid;
    grid-template-columns: 1fr;
    align-items: $align-center;
    gap: $g-4;
    margin-bottom: $m-6;

    @include breakpoint($bp: 52.69em) {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    @include lg {
      grid-template-columns: repeat(2, 1fr);
      gap: $g-4 * 2;
    }
  }

  &Bio {
    @include font($font-family-secondary, $font-weight-semi-bold, $f-7);

    line-height: 1.6;

    span {
      @include font($font-family-primary, $font-weight-semi-bold, $f-4);
    }
  }

  .infoCards {
    display: $d-grid;
    justify-content: $justify-center;
    grid-template-columns: 1fr;
    gap: $g-3;
    transform: translateY(0);

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint($bp: 52.69em) {
      transform: translateY(50%);
    }

    @include xl {
      gap: $g-6 * 2;
    }
  }
}
