@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/breakpoints" as *;

.home {
  background-image: url(../../assets/images/home-bg.svg);
  height: 90vh;
  background-size: cover;

  @include centered-grid($justify-center);
}

.hero {
  @include centered-flex(
    $justify-content: $justify-center,
    $align-items: $align-center,
    $flex-wrap: $wrap
  );

  gap: $g-3;
  flex-direction: column-reverse;

  &Text {
    text-align: $align-center;
  }

  &Heading {
    @include font($font-family-primary, $font-weight-regular, $f-1);
    line-height: 7.8rem;
  }

  &Subheading {
    @include font($font-family-secondary, $font-weight-bold, $f-2);
    margin-bottom: $m-2;
  }

  &Links {
    @include centered-flex($justify-content: $justify-center);
    gap: $g-1;

    a {
      &:last-child {
        @include centered-flex(
          $justify-content: $justify-center,
          $align-items: $align-center
        );

        gap: $g-1 * 1.5;

        i {
          font-size: $f-6;
        }
      }
    }
  }

  &Image {
    width: 35rem;
    height: 35rem;
    border-radius: 1rem;
    overflow: hidden;
    transform: rotate(5deg);
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 25%);
    transition: transform 0.2s linear;
    transform-origin: bottom right;

    &:hover {
      transform: rotate(0deg);
    }

    @media (hover: none) {
      transform: rotate(0deg);
    }
  }

  @include breakpoint($bp: 52.69em) {
    flex-direction: row;
    gap: $g-4 * 2;
  }
}
