@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.projects {
  padding-top: $p-3 * 6;
  padding-bottom: $p-4 * 2;
  background-color: $color-bg-primary;
  margin-top: 0;
  text-align: center;

  &Grid {
    display: $d-grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: $m-5 * 2;
  }
}
