@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.error {
  min-height: calc(100vh - 13.4rem);
  @include centered-flex(
    $flex-direction: column,
    $justify-content: $justify-center,
    $align-items: $align-center
  );
}
.errorTitle {
  @include font($font-family-secondary, $font-weight-regular, 16rem);
  line-height: 1;

  span {
    color: $secondary;
  }
}
.errorIcon {
  margin-top: $m-1;
  font-size: 12rem;
  color: $secondary;
}
