@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/breakpoints" as *;

.dropdown {
  width: 27rem;
  position: $p-relative;
  margin: 0 auto $m-3;
  @include font($font-family-primary, $font-weight-regular, $f-9);

  &Header {
    cursor: pointer;
    width: $base-width;
    margin-bottom: $m-1;
    padding: $p-1;
    border: 2px solid $secondary;
    border-radius: $rounded;
    background-color: $white;

    @include centered-flex(
      $justify-content: $justify-between,
      $align-items: $align-center
    );

    &:focus,
    &:active {
      outline: none;
      background-color: $light;
    }
  }

  &Body {
    border: 2px solid $secondary;
    border-radius: $rounded;
    position: $p-absolute;
    display: none;
    z-index: 2;

    &.open {
      display: block;
    }
  }

  &Item {
    width: $base-width;
    padding: $p-1 1.5rem;
    background-color: $white;
    border: none;
    text-align: start;
    transition: background-color 300ms ease;

    &:hover {
      cursor: pointer;
      background-color: $light;
    }

    &.selected {
      background-color: $light;
    }

    &:focus,
    &:active {
      outline: none;
      background-color: $light;
    }
  }

  i {
    font-size: $f-10;
    color: $secondary;
    transform: rotate(-90deg);
    transition: transform 200ms ease;

    &.open {
      transform: rotate(0deg);
    }
  }
}
