@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "sass:math";

.infoCard {
  background-color: $light;
  border-radius: $rounded;
  padding: $p-2 $p-1 * 3.8 $p-2;
  text-align: $align-center;
  transition: background-color 400ms ease-in-out 0s;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 25%);

  &Icon {
    font-size: $f-3;
  }

  &Title {
    @include font($font-family-primary, $font-weight-semi-bold, $font-small);

    position: $p-relative;
    padding-bottom: math.div($p-1, 2);
    display: $d-flex;
    justify-content: $justify-center;
    margin: $m-1 0 $m-2;

    &::before {
      content: "";
      bottom: 0;
      position: $p-absolute;
      width: 5rem;
      height: 1px;
      background-color: $primary;
      transition: $base-transition;
    }
  }

  &Text {
    @include font($font-family-secondary, $font-weight-regular, $font-xs);
  }

  &:hover {
    background-color: $primary;
    color: $light;

    .infoCardTitle::before {
      background-color: $light;
    }
  }

  @media only screen and (hover: none) {
    background-color: $light;
    color: $text;

    .infoCardTitle::before {
      background-color: $primary;
    }
  }
}
