@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.menu {
  position: $p-fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: $d-grid;
  width: 100%;
  height: 100vh;
  opacity: 1;
  background-image: radial-gradient($primary-light, $primary);
  transition: clip-path 0.7s cubic-bezier(0.83, 0, 0.17, 1);
  clip-path: circle(0rem at calc(100% - 5.5rem) calc(0% + 5.5rem));
}

.showMenu {
  clip-path: circle(100% at 50% 50%);
}
