@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.nav {
  @include position($p-fixed, $top: 0, $left: 0);
  @include centered-grid(center);

  z-index: -1500;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.showNav {
  z-index: 1500;
  opacity: 1;
}

.navList {
  text-align: $align-center;
}

.navItem {
  transform: translateY(100%);
  transition: all 0.3s ease;
  opacity: 0;

  @include transition-delay-down;

  &In {
    transform: translateY(0);
    opacity: 1;
    @include transition-delay-up;
  }
}

.navLink {
  @include font($font-family-primary, $font-weight-semi-bold, $f-1);
  color: $light;
  padding: $p-1 $p-3 + 0.5;
  border-radius: $rounded;
  transition: $base-transition;
  cursor: pointer;
  text-transform: capitalize;
  opacity: 1;

  &Active,
  &:hover {
    transform: translateX(1rem);
    background: $secondary;
  }
}
