@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.nav {
  @include centered-grid(center);
  overflow: hidden;
}
.navList {
  text-align: $align-center;
}

.navItem {
  transform: translateY(100%);
  transition: all 0.3s ease;
  opacity: 0;

  @include transition-delay-down;

  &In {
    transform: translateY(0);
    opacity: 1;

    @include transition-delay-up;
  }
}

.navLink {
  @include font($font-family-primary, $font-weight-semi-bold, $font-xl);
  color: $light;
  padding: $p-1 $p-3 + 0.5;
  border-radius: $rounded;
  transition: $base-transition;

  &Active,
  &:hover {
    transform: translateX(1rem);
    background: $secondary;
  }

  @media only screen and (hover: none) {
    transform: translateX(0);
    background: none;
  }
}
