@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/breakpoints" as *;
@use "sass:math";

.navigation {
  &-button {
    display: $d-grid;
    border: none;
    cursor: pointer;
    position: $p-fixed;
    z-index: 2000;
    top: 4.6rem;
    right: 5rem;
    background: transparent;
  }

  &-icon {
    width: 2rem;
    height: 2px;
    background: $text;
    border-radius: $rounded;
    transition: all 0.7s cubic-bezier(0.83, 0, 0.17, 1);

    @include first-child {
      transform: rotate(0deg) translate(0.5rem, 0);
    }

    @include nth-child(2) {
      background-color: $primary;
    }

    @include last-child {
      transform: rotate(0deg) translate(-0.5rem, 0);
    }

    @include not-last-child {
      margin-bottom: math.div($m-1, 2);
    }
  }

  .show-nav {
    @include first-child {
      transform: rotate(45deg) translate(0.8rem, -0.7rem);
      transform-origin: top left;
    }

    @include nth-child(2) {
      opacity: 0;
    }

    @include last-child {
      transform: rotate(-45deg) translate(0.8rem, 0.6rem);
      transform-origin: bottom left;
    }

    @include sm {
      @include first-child {
        transform: rotate(45deg) translate(0.7rem, -0.7rem);
        transform-origin: top left;
      }

      @include last-child {
        transform: rotate(-45deg) translate(0.7rem, 0.6rem);
        transform-origin: bottom left;
      }
    }
  }
}
