@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.socialIcon {
  height: 3.5rem;
  width: 3.5rem;
  transition: color 0.2s ease;
}

.homeHover:hover {
  color: $color-primary;
}

.footerHover:hover {
  color: $color-secondary;
}

.socialIconLink {
  @include not-last-child {
    margin-right: $m-1;
  }
}
