@use "../../assets/styles/variables" as *;

.social-icon {
  height: 3.5rem;
  width: 3.5rem;
  transition: color 0.2s ease;

  &:hover {
    color: $color-secondary;
  }
}

.social-icon-link:not(:last-child) {
  margin-right: $m-1;
}
