@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: $color-text;
  background-color: $color-bg-primary;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}
