@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.btn {
  cursor: pointer;
  border-radius: $rounded;
  color: $light;
  background-color: $primary;
  border: 1px solid $primary;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out,
    background-color 300ms ease-in-out;

  &-large {
    @include font($font-family-primary, $font-weight-medium, $f-8);

    width: 22rem;
    padding: 1.1rem 0;

    &:hover {
      background-color: transparent;
      color: $text;
    }

    @media only screen and (hover: none) {
      background-color: $primary;
      color: $light;
    }
  }

  &-medium {
    @include font($font-family-primary, $font-weight-medium, $f-9);
    width: 15rem;
    padding: 0.8rem 0;

    &:hover {
      background-color: transparent;
      color: $text;
    }

    @media only screen and (hover: none) {
      background-color: $primary;
      color: $light;
    }
  }

  &-small {
    @include font($font-family-primary, $font-weight-medium, $f-10);
    width: 12rem;
    padding: 0.6rem 0;

    &:hover {
      background-color: transparent;
      color: $text;
    }

    &:active,
    &:focus {
      background-color: lighten($primary-light, 30%);
      color: $text;
      border-color: lighten($primary-light, 30%);
    }

    @media only screen and (hover: none) {
      background-color: $primary;
      color: $light;
    }
  }

  &-outline {
    background-color: transparent;
    color: $text;
    border-color: $primary;

    &:hover {
      background-color: $primary;
      color: $light;
    }

    @media only screen and (hover: none) {
      background-color: transparent;
      color: $text;
    }
  }

  &-block {
    padding: 0.5rem 0;
    width: $base-width;

    @include font($font-family-primary, $font-weight-medium, $f-8);

    &:hover {
      background-color: transparent;
      color: $text;
    }

    @media only screen and (hover: none) {
      background-color: $primary;
      color: $light;
    }
  }

  &-round {
    border: none;
    background-color: transparent;
    color: $primary;
    font-size: $f-4;
    padding: $p-1;
    border-radius: $rounded;
  }
}
