@use "./variables" as *;

// Typografy
@mixin font($font-family, $font-weight) {
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height-base;
}

// Layout
@mixin centered-flex($direction, $justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-center;
  justify-content: $justify-content;
}

@mixin centered {
  position: $position-absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
