@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/breakpoints" as *;

.swiper-container {
  position: relative;

  .swiper {
    height: 19.5rem;
    max-width: 100rem;

    @include lg {
      max-width: 100rem;
    }

    @include breakpoint($bp: 78.13em) {
      max-width: 114rem;
    }

    &-pagination {
      @include position($p-absolute, $bottom: 0, $left: 50%);
      @include transform($X: -50%, $Y: 0);
      display: $d-flex;
      z-index: 10;

      &-bullet {
        width: 1rem;
        height: 1rem;
        border: 1px solid $primary;
        border-radius: $rounded;
        cursor: pointer;
        transition: $base-transition;

        &:not(:last-child) {
          margin-right: $m-1;
        }

        &-active {
          background: $primary;
        }
      }
    }
  }

  .swiper-button {
    @include position(absolute, $top: 4.3rem);
    display: none;

    &:hover {
      background-color: lighten($primary-light, 30%);
    }

    &-next {
      right: 1rem;
      transform: rotate(-90deg);
    }

    &-prev {
      left: 1rem;
      transform: rotate(90deg);
    }

    @include lg {
      display: block;

      &-next {
        right: -2rem;
      }

      &-prev {
        left: -2rem;
      }
    }

    @include xl {
      display: block;

      &-next {
        right: 0;
      }

      &-prev {
        left: 0;
      }
    }

    @include breakpoint($bp: 78.13em) {
      &-next {
        right: -3rem;
      }

      &-prev {
        left: -3rem;
      }
    }

    @media only screen and (hover: none) {
      display: none;
    }
  }
}
