@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.title-styled {
  @include font($font-family-primary, $font-weight-semi-bold, $f-2);
  text-align: $align-center;
  position: $p-relative;
  display: $d-flex;
  justify-content: $justify-center;
  margin-bottom: 3px;

  &::before {
    content: "";
    bottom: 0;
    position: $p-absolute;
    width: 10rem;
    height: 3px;
    background-color: $primary;
  }
}

.subtitle-styled {
  @include font($font-family-secondary, $font-weight-regular, $f-5);
  text-align: $align-center;
}
