@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.section-center {
  max-width: 120rem;
  margin: 0 auto;
}

.section-title {
  margin-bottom: $m-3 * 2;
}

.btn {
  cursor: pointer;
  border-radius: $rounded;
  color: $light;

  &-large {
    background-color: $primary;

    @include font($font-family-primary, $font-weight-semi-bold, $f-8);

    width: 22rem;
    padding: 1.1rem 0;
    transition: all 300ms ease-in-out 0s;
    border: 2px solid $primary;

    &:hover {
      background: transparent;
      color: $text;
    }
  }
}

.social {
  font-size: $f-7 * 2;

  &-link {
    transition: $base-transition;
    width: 4rem;

    &:not(:last-child) {
      margin-right: $m-1;
    }

    &-home:hover {
      color: $primary;
    }

    &-footer:hover {
      color: $secondary;
    }
  }
}
