@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.section-center {
  max-width: 120rem;
  margin: 0 auto;
}

.section-title {
  margin-bottom: $m-3 * 2;
}

.mb-2 {
  margin-bottom: 2rem;
}

.social {
  font-size: $f-7 * 2;

  &-link {
    transition: $base-transition;
    width: 4rem;

    &:not(:last-child) {
      margin-right: $m-1;
    }

    &-home:hover {
      color: $primary;
    }

    &-footer:hover {
      color: $secondary;
    }
  }
}
