// Colors
$color-primary: #00bfb8;
$color-text: #4e5054;
$color-bg-primary: #efede4;
$color-secondary: #ec813a;
$color-light: #f7f7f7;

// Font
$font-xl: 6rem;
$font-large: 4.8rem;
$font-medium: 2.4rem;
$font-small: 1.6rem;
$font-xs: 1.4rem;

// Font Family
$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Roboto", sans-serif;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

// Line height
$line-height-base: 150%;

// Border Radius
$rounded: 5;

// Flex
$align-center: center;
$justify-center: center;
$justify-between: space-between;

// Position
$position-relative: relative;
$position-absolute: absolute;

// Breakpoints
