/* Connected fonts */
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('../fonts/SF-Pro-Text-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('../fonts/SF-Pro-Text-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

/* Variables */
:root {
	/* Colors */
	--monochrome-clr-light: #fff;
	--monochrome-clr-dark: #303338;
	--primary-clr-light: #567ae4;
	--primary-clr-base: #305aad;
	--primary-clr-dark-light: #233e59;
	--primary-clr-dark: #152739;
	--primary-clr-dark-700: #071626;
	--secondary-clr-light: #f68f6f;
	--secondary-clr-base: #ff7f50;
	--clr-error-light: #ff5252;
	--clr-error-base: #cd2c2c;
	--clr-input-light: rgba(255, 255, 255, 0.6);
	--clr-input-dark: rgba(48, 51, 56, 0.6);
	--clr-inherit: inherit;
	--clr-current: currentColor;
	--clr-transparent: transparent;

	/* Fonts */
	--font-headings: 'Sf Pro Display', sans-serif;
	--font-body: 'SF Pro Text', sans-serif;

	/* Font size */
	--text-xs: 0.75rem; /* 12px */
	--text-sm: 0.875rem; /* 14px */
	--text-base: 1rem; /* 16px */
	--text-md: 1.125rem; /* 18px */
	--text-lg: 1.375rem; /* 22px */
	--text-xl: 1.75rem; /* 28px */
	--text-2xl: 2.25rem; /* 36px */
	--text-3xl: 3.25rem; /* 52px */
	--text-full: 100%; /* 100% */
	--text-inherit: inherit;

	/* Font weight */
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;

	/* Line height */
	--lh-small: 120%;
	--lh-large: 160%;

	/* Border radius */
	--rounded: 0.25rem; /* 4px */
	--rounded-md: 0.5rem; /* 8px */
	--rounded-lg: 0.75rem; /* 12px */
	--rounded-full: 100%; /* 100% */

	/* Spacing */
	--spacing-1: 0.25rem; /* 4px */
	--spacing-1-5: 0.375rem; /* 6px */
	--spacing-2: 0.5rem; /* 8px */
	--spacing-2-5: 0.625rem; /* 10px */
	--spacing-3: 0.75rem; /* 12px */
	--spacing-4: 1rem; /* 16px */
	--spacing-5: 1.25rem; /* 20px */
	--spacing-6: 1.5rem; /* 24px */
	--spacing-7: 1.75rem; /* 28px */
	--spacing-8: 2rem; /* 32px */
	--spacing-9: 2.25rem; /* 36px */
	--spacing-10: 2.5rem; /* 40px */
	--spacing-11: 2.75rem; /* 44px */
	--spacing-12: 3rem; /* 48px */
	--spacing-13: 3.25rem; /* 52px */
	--spacing-14: 3.5rem; /* 56px */
	--spacing-15: 3.75rem; /* 60px */
	--spacing-16: 4rem; /* 64px */
	--spacing-20: 5rem; /* 80px */

	/* Display */
	--d-flex: flex;
	--d-grid: grid;
	--d-block: block;
	--d-inline-block: inline-block;

	/* Flex */
	--flex-wrap: wrap;

	/* Align */
	--align-center: center;
	--align-start: start;
	--align-end: end;

	/* Justify */
	--justify-center: center;
	--justify-start: flex-start;
	--justify-end: flex-end;
	--justify-between: space-between;

	/* Widht */
	--w-full: 100%;
	--w-screen: 100vw;
	--w-min: min-content;
	--w-max: max-content;
	--w-fit: fit-content;
	--w-auto: auto;
	--wrapper-outer-width: min(75rem, calc(var(--w-full) - 3.75rem));
	--wrapper-inner-width: min(60rem, var(--w-full));

	/* Height */
	--h-full: 100%;
	--h-screen: 100vh;
	--h-auto: auto;

	/* Position */
	--p-relative: relative;
	--p-absolute: absolute;
	--p-fixed: fixed;

	/* Top/Right/Bottom/Left */
	--inset-x-0: 0;
	--inset-y-0: 0;
	--inset-0: 0;

	/* Opacity */
	--opacity-full: 1;
	--opacity-none: 0;

	/* Overflow */
	--overflow-auto: auto;
	--overflow-hidden: hidden;

	/* Box shadow */
	--button-shadow: -3px 3px 10px 2px rgba(255, 127, 80, 0.3);
	--button-shadow-hover: -3px 3px 15px 5px rgba(255, 127, 80, 0.5);
	--blue-shadow: -3px 3px 10px 2px rgba(65, 105, 225, 0.2);
	--blue-shadow-hover: -3px 3px 10px 3px rgba(65, 105, 225, 0.4);
	--card-shadow: 0 0.313rem 1.25rem 0 rgba(65, 105, 225, 0.2);

	/* Transition */
	--transition-base: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Media for the system dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--body-bg: var(--primary-clr-dark);
		--form-bg: var(--primary-clr-dark-light);
		--body-text: var(--monochrome-clr-light);
		--theme-btn: var(--primary-clr-light);
		--clr-secondary: var(--secondary-clr-light);
		--body-link: var(--secondary-clr-light);
		--error: var(--clr-error-light);
		--input: var(--clr-input-light);
	}
}

/* Media for the system lignt mode */
@media (prefers-color-scheme: light) {
	:root {
		--body-bg: var(--monochrome-clr-light);
		--form-bg: var(--monochrome-clr-light);
		--body-text: var(--monochrome-clr-dark);
		--theme-btn: var(--primary-clr-base);
		--clr-secondary: var(--secondary-clr-base);
		--body-link: var(--primary-clr-base);
		--input: var(--clr-input-dark);
		--error: var(--clr-error-base);
	}
}

/* Color scheme for the dark mode */
[color-scheme='dark'] {
	--body-bg: var(--primary-clr-dark);
	--form-bg: var(--primary-clr-dark-light);
	--body-text: var(--monochrome-clr-light);
	--theme-btn: var(--primary-clr-light);
	--clr-secondary: var(--secondary-clr-light);
	--body-link: var(--secondary-clr-light);
	--input: var(--clr-input-light);
	--error: var(--clr-error-light);
}

/* Color scheme for the light mode */
[color-scheme='light'] {
	--body-bg: var(--monochrome-clr-light);
	--form-bg: var(--monochrome-clr-light);
	--body-text: var(--monochrome-clr-dark);
	--theme-btn: var(--primary-clr-base);
	--clr-secondary: var(--secondary-clr-base);
	--body-link: var(--primary-clr-base);
	--input: var(--clr-input-dark);
	--error: var(--clr-error-base);
}

/* Reset styles */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	outline: none;
	display: var(--d-inline-block);
	transition: var(--transition-base);
}

img,
picture {
	display: var(--d-block);
	max-width: var(--w-full);
	height: var(--h-full);
	object-fit: cover;
}

img {
	width: var(--w-auto);
	height: var(--h-auto);
}

button {
	cursor: pointer;
}

span {
	display: var(--d-inline-block);
}

input,
button,
textarea {
	font: var(--text-inherit);
}

textarea {
	resize: vertical;
}

/* Base styles */
html {
	font-size: var(--text-full);
}

body {
	position: var(--p-relative);
	background-color: var(--body-bg);
	color: var(--body-text);
	font-family: var(--font-body);
	line-height: var(--lh-large);
	font-weight: var(--fw-normal);
	font-size: var(--text-base);
	transition: background-color var(--transition-base),
		color var(--transition-base);
}

/* Typography */
.heading-1,
.heading-2,
.heading-3,
.heading-4 {
	line-height: var(--lh-small);
	font-family: var(--font-headings);
	letter-spacing: 1px;
}

.heading-1 {
	font-size: clamp(var(--text-2xl), 5vw + 1rem, var(--text-3xl));
}

.heading-2 {
	font-size: var(--text-2xl);
}

.heading-3 {
	font-size: var(--text-xl);
}

.heading-4 {
	font-size: var(--text-lg);
}

/* Buttons */
.btn {
	border: none;
}

.btn-round {
	width: 3rem;
	height: 3rem;
	border-radius: var(--rounded-full);
	background-color: var(--theme-btn);
	transition: transform var(--transition-base),
		background-color var(--transition-base), box-shadow var(--transition-base);
	box-shadow: var(--blue-shadow);
	position: var(--p-relative);
	outline: none;
	will-change: transform;
}

@media (hover: hover) {
	.btn-round:hover {
		transform: translate(5px, -5px) scale(1.05);
		box-shadow: var(--blue-shadow-hover);
	}
}

.btn-round:active {
	transform: translate(0, 0) scale(0.95);
	box-shadow: var(--blue-shadow);
}

.btn-primary {
	font-weight: var(--fw-semibold);
	color: var(--monochrome-clr-dark);
	background-color: var(--clr-secondary);
	border-radius: var(--rounded);
	box-shadow: var(--button-shadow);
	transition: transform var(--transition-base),
		background-color var(--transition-base);
	will-change: transform;
}

.btn-primary--large {
	font-size: var(--text-inherit);
	padding: 0.75em 1.5em;
}

.btn-primary--small {
	font-size: var(--text-base);
	padding: 0.625em 1.25em;
}

@media (hover: hover) {
	.btn-primary:hover:not(:disabled) {
		transform: translate(5px, -5px) scale(1.05);
		box-shadow: var(--button-shadow-hover);
	}
}

.btn-primary:focus-visible:not(:disabled) {
	transform: translate(5px, -5px) scale(1.05);
	box-shadow: var(--button-shadow-hover);
}

.btn-primary:active:not(:disabled) {
	transform: translate(0, 0) scale(0.95);
	box-shadow: var(--button-shadow);
}

/* Links styles */
.body-link {
	position: var(--p-relative);
	color: var(--body-link);
	font-weight: var(--fw-semibold);
}

.body-link::before {
	content: '';
	position: var(--p-absolute);
	left: 0;
	bottom: 0;
	background-color: var(--body-link);
	width: var(--w-full);
	height: 2px;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform var(--transition-base);
}

.body-link:hover::before,
.body-link:focus::before {
	transform-origin: bottom left;
	transform: scaleX(1);
}

/* Utility classes */
.wrapper-grid {
	display: var(--d-grid);
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	min-height: var(--h-screen);
}

.wrapper-outer {
	width: var(--wrapper-outer-width);
	margin: 0 auto;
}

.wrapper-inner {
	width: var(--wrapper-inner-width);
	margin: 0 auto;
}

.center {
	display: var(--d-flex);
	align-items: var(--align-center);
	justify-content: var(--justify-center);
}

.center-y {
	display: var(--d-flex);
	align-items: var(--align-center);
}

.center-x {
	display: var(--d-flex);
	justify-content: var(--justify-center);
}

.space-between {
	justify-content: var(--justify-between);
}

.responsive-columns {
	display: var(--d-flex);
	flex-wrap: var(--flex-wrap);
}

.text-center {
	text-align: var(--align-center);
}

/* Custom outline */
.outline {
	position: var(--p-relative);
	color: var(--secondary-clr-base);
}

.outline:before {
	content: '';
	inset: var(--inset-0);
	transition: opacity var(--transition-base), box-shadow var(--transition-base);
	opacity: var(--opacity-none);
	position: var(--p-absolute);
	margin: -4px;
	border-radius: inherit;
	background-color: var(--clr-transparent);
}

.outline:focus-visible::before {
	opacity: var(--opacity-full);
	box-shadow: 0 0 0 0.2rem var(--clr-current);
}

/* Header styles */
.header {
	padding: var(--spacing-7) 0;
}

.header__logo {
	border-radius: var(--rounded-md);
}

/* Navigation button styles */
.navigation__btn {
	text-align: var(--align-center);
	z-index: 5;
}

.navigation__icon {
	position: var(--p-relative);
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
	height: 3px;
	width: 1.875rem;
	background-color: var(--monochrome-clr-light);
	transition: transform var(--transition-base),
		background-color var(--transition-base);
	border-radius: var(--rounded);
	transition-delay: 0.9s;
	will-change: transform;
}

.navigation__icon::after,
.navigation__icon::before {
	content: '';
	position: var(--p-absolute);
	left: 0;
}

.navigation__icon::before {
	transform: translateY(-0.563rem);
}
.navigation__icon::after {
	transform: translateY(0.563rem);
}

.navigation__btn[aria-pressed='true'] .navigation__icon {
	background-color: var(--clr-transparent);
	transition-delay: 0s;
}

/* Rotate navigation button lines when aria-pressed attribute is true */
.navigation__btn[aria-pressed='true'] .navigation__icon::before {
	transform: translateY(0) rotate(135deg);
	transition-delay: 0s;
}

.navigation__btn[aria-pressed='true'] .navigation__icon::after {
	transform: translateY(0) rotate(-135deg);
	transition-delay: 0s;
}

/* Navigation background styles */
.navigation__bg {
	position: var(--p-absolute);
	top: var(--inset-y-0);
	left: var(--inset-x-0);
	background-color: var(--primary-clr-dark-700);
	transition: clip-path 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	width: var(--w-full);
	height: var(--h-full);
	z-index: 4;
	clip-path: circle(
		0rem at calc(((100% + var(--wrapper-outer-width)) / 2) - 1.5rem) 3rem
	);
	transition-delay: 0.9s;
	overflow-y: var(--overflow-auto);
}

.navigation__bg[aria-expanded='true'] {
	clip-path: circle(100% at 50% 50%);
	transition: clip-path 2.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Nav styles */
.navigation__nav {
	display: none;
	height: var(--h-full);
	padding: 20vh 0 0;
}

/* Nav links styles */
.navigation__item {
	margin: 0 0 var(--spacing-7);
	will-change: transform;
}

.navigation__item:last-child {
	margin: 0;
}

.navigation__link {
	position: var(--p-relative);
	font-size: var(--text-3xl);
	color: var(--secondary-clr-light);
	font-family: var(--font-headings);
	font-weight: var(--fw-bold);
	line-height: var(--lh-small);
	letter-spacing: 1px;
}

/* Nav links hover animation */
span[data-title]::before {
	content: attr(data-title);
	position: var(--p-absolute);
	top: var(--inset-y-0);
	left: var(--inset-x-0);
	color: var(--monochrome-clr-light);
	clip-path: inset(0 0 0 0);
	transition: transform var(--transition-base), opacity var(--transition-base),
		clip-path var(--transition-base);
}

.navigation__link:hover span[data-title]::before,
.navigation__link:focus-visible span[data-title]::before,
.navigation__link.active span[data-title]::before {
	clip-path: inset(100% 0 0 0);
}

/* Home page styles */
.home__section-columns {
	display: var(--d-grid);
	row-gap: var(--spacing-6);
}

.home__content {
	display: var(--d-grid);
	row-gap: var(--spacing-4);
	align-self: var(--align-start);
}

.home__title {
	margin: 0 0 var(--spacing-2);
}

.home__title span {
	color: var(--theme-btn);
	transition: var(--transition-base);
}

.home__desc {
	font-size: var(--text-md);
	font-weight: var(--fw-semibold);
}

.home__socials {
	display: var(--d-flex);
	column-gap: var(--spacing-3);
}

.home__socials-link {
	width: 2.375rem;
	height: 2.375rem;
	color: var(--theme-btn);
}

.home__socials-link:hover,
.home__socials-link:focus-visible {
	color: var(--clr-secondary);
}

.home__btn {
	justify-self: var(--justify-start);
}

.home__portrait {
	border-radius: var(--rounded-md);
}

/* About Me Page styles */
.about-me__image {
	border-radius: var(--rounded-md);
}

.about-me,
.what-i-do {
	margin: 0 0 var(--spacing-10);
}

.about-me__title,
.what-i-do__title,
.skills__title {
	margin: 0 0 var(--spacing-5);
}

.about-me__columns {
	display: var(--d-grid);
	row-gap: var(--spacing-8);
}

.what-i-do__columns {
	column-gap: 8%;
	row-gap: var(--spacing-6);
}

.what-i-do__column {
	flex: 1 0 calc(21.25rem - 8%);
}

.what-i-do__column-title {
	margin: 0 0 var(--spacing-3);
}

.skills__list {
	gap: var(--spacing-3);
}

.skills__item {
	color: var(--monochrome-clr-light);
	font-weight: var(--fw-semibold);
	border-radius: var(--rounded-md);
	background-color: var(--primary-clr-dark-light);
	padding: var(--spacing-2-5) var(--spacing-4);
	font-size: var(--text-md);
}

/* Projects page styles */
.projects__section,
.blog__section {
	padding: 0 0 var(--spacing-10);
}

.projects__title {
	margin: 0 0 var(--spacing-4);
}

/* Projects slider styles */
.projects__slider {
	background-color: var(--primary-clr-dark-700);
	height: var(--h-screen);
	width: var(--w-screen);
	overflow: var(--overflow-hidden);
	position: relative;
}

.projects__slider-slide {
	--offset-y: 15%;
}

.slide-wrapper {
	height: var(--h-full);
	display: var(--d-grid);
	padding: 0 var(--spacing-5);
}

.project-img {
	align-self: var(--align-start);
	justify-self: var(--justify-start);
	position: var(--p-absolute);
	top: var(--offset-y);
}

/* Project card styles */
.project-card {
	max-width: 21rem;
	width: var(--w-full);
	background-color: var(--body-bg);
	padding: var(--spacing-5) var(--spacing-6);
	border-radius: var(--rounded-lg);
	transition: background-color var(--transition-base);
	z-index: 1;
	position: var(--p-absolute);
	top: 43%;
	left: var(--spacing-1-5);
}

.project-card__header {
	display: var(--d-grid);
	row-gap: var(--spacing-3);
}

.project-card__list {
	display: var(--d-flex);
	column-gap: var(--spacing-3);
}

.project-card__item {
	color: var(--monochrome-clr-light);
	background-color: var(--primary-clr-dark-light);
	padding: var(--spacing-2);
	font-size: var(--text-sm);
	border-radius: var(--rounded);
	font-weight: var(--fw-semibold);
	line-height: var(--lh-small);
}

.project-card__info {
	margin: var(--spacing-4) 0;
}

.project-card__title {
	margin: 0 0 var(--spacing-2);
}

.project-card__desc {
	font-weight: var(--fw-semibold);
}

.project-card__link {
	display: var(--d-inline-block);
}

.project-card__icon {
	height: 1.5rem;
	vertical-align: middle;
	margin: 0 0 0 var(--spacing-2);
	transition: transform var(--transition-base);
}

.project-card__link:hover .project-card__icon {
	transform: translateX(5px);
}

.project-card__link:active .project-card__icon {
	transform: translateX(0);
}

/* Projects slider pagination */
.projects__slider-pagination {
	color: var(--monochrome-clr-light);
	position: var(--p-absolute);
	top: var(--spacing-8);
	left: var(--spacing-8);
	font-weight: var(--fw-semibold);
	font-size: var(--text-lg);
	height: 2.25rem;
	z-index: 2;
}

.projects__slider-current,
.projects__slider-total {
	line-height: 100%;
}

.projects__slider-current {
	color: var(--secondary-clr-light);
	font-size: var(--text-2xl);
	width: 2.875rem;
}

.projects__slider-total {
	align-self: var(--align-end);
	width: var(--w-min);
}

/* Projects slider navigation styles */
.projects__slider-navigation {
	position: var(--p-absolute);
	top: var(--spacing-8);
	right: var(--spacing-8);
	z-index: 2;
	column-gap: var(--spacing-2);
}

.projects__slider-navigation .slide-btn {
	color: var(--monochrome-clr-light);
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--primary-clr-dark-light);
	border: none;
	border-radius: var(--rounded);
	padding: var(--spacing-1);
	transition: color var(--transition-base);
	outline: none;
}

.slide-btn:hover {
	color: var(--secondary-clr-light);
}

.slide-btn.slider-btn-disabled {
	color: rgba(255, 255, 255, 0.3);
}

.projects__slider-navigation .prev-slide,
.projects__slider-navigation .next-slide {
	rotate: -90deg;
}

/* Projects slider scrollbar styles */
.projects__slider-scrollbar {
	--swiper-scrollbar-border-radius: 0;
	--swiper-scrollbar-top: 50%;
	--swiper-scrollbar-right: var(--spacing-8);
	--swiper-scrollbar-sides-offset: 30%;
	--swiper-scrollbar-bg-color: var(--monochrome-clr-light);
	--swiper-scrollbar-drag-bg-color: var(--secondary-clr-light);
	--swiper-scrollbar-size: 5px;
}

/* Projects lazy preloader styles */
.swiper-lazy-preloader {
	--swiper-preloader-color: var(--secondary-clr-light);
}

/* Single project page styles */
.project__columns {
	display: var(--d-grid);
	row-gap: var(--spacing-8);
}

.project__logo {
	margin: 0 0 var(--spacing-4);
}

.project__desc {
	margin: var(--spacing-4) 0 var(--spacing-5);
}

.project__links {
	display: var(--d-flex);
	column-gap: var(--spacing-8);
}

.project__image {
	border-radius: var(--rounded-md);
}

.project__info-section {
	margin: var(--spacing-8) 0 var(--spacing-10);
}

.project__key-title,
.project__tools-title {
	margin: 0 0 var(--spacing-4);
}

.project__keys-list {
	list-style-position: inside;
}

.project__keys-item {
	position: var(--p-relative);
	margin: 0 0 var(--spacing-2);
}

.project__keys-item:last-child {
	margin: 0;
}

.project__keys-item::before {
	content: '\2713';
	color: var(--body-link);
	transition: color var(--transition-base);
}

.project__tools {
	display: var(--d-flex);
	flex-wrap: var(--flex-wrap);
	column-gap: var(--spacing-6);
	row-gap: var(--spacing-6);
}

.project__tool {
	display: var(--d-grid);
	row-gap: var(--spacing-1-5);
	justify-items: var(--justify-center);
}

.project__tool-name {
	font-size: var(--text-sm);
	font-weight: var(--fw-semibold);
}

.project__showcase-section {
	margin: var(--spacing-10) 0;
}

.project__link-back {
	margin: var(--spacing-1) 0 var(--spacing-8);
}

/* Project slider styles */
.project__slider-section {
	overflow: hidden;
}

.project__slider {
	width: var(--w-screen);
	max-width: var(--w-full);
}

.project__slider-pagination {
	column-gap: var(--spacing-2);
	padding: var(--spacing-8) 0 0;
}

.pagination-btn {
	background-color: var(--clr-transparent);
	border: none;
	color: var(--body-text);
	width: 2.5rem;
	height: 2.5rem;
	transition: color var(--transition-base);
	outline: none;
	border-radius: var(--rounded);
}

.pagination-btn:hover,
.pagination-btn:focus,
.pagination-btn__current {
	color: var(--body-link);
}

/* Contact Me page styles */
.contact-me {
	padding: 0;
}

.contact-me__section {
	margin: 0 0 var(--spacing-8);
}

.contact-me__title {
	margin: 0 0 var(--spacing-4);
}

/* Contact Form styles */
.contact-me__form {
	--text-size: 1.25rem;

	max-width: 48.75rem;
	margin: 0 auto;
	display: var(--d-grid);
	row-gap: var(--spacing-6);
	background-color: var(--clr-transparent);
}

.contact-me__form-group {
	display: var(--d-flex);
	flex-direction: column-reverse;
	row-gap: var(--spacing-2);
}

.contact-me__form-group__label {
	display: var(--d-flex);
	justify-content: var(--justify-between);
}

.contact-me__form-label {
	font-size: var(--text-md);
	font-weight: var(--fw-semibold);
	display: var(--d-inline-block);
	transition: color var(--transition-base);
}

.error-message {
	margin-left: auto;
	font-size: var(--body-text);
	color: var(--error);
	transition: color var(--transition-base);
}

.contact-me__form-input {
	width: var(--w-full);
	border: 1px solid var(--input);
	outline-color: var(--input);
	background-color: transparent;
	border-radius: var(--rounded-md);
	color: var(--clr-inherit);
	transition: color var(--transition-base), border-color var(--transition-base);
	font-size: var(--text-md);
	padding: var(--spacing-2) var(--spacing-4);
	outline: none;
}

.contact-me__form-input[name='message'] {
	height: 11rem;
}

.contact-me__form-input:focus {
	border-color: var(--clr-secondary);
}

.contact-me__form-input.invalid {
	border-color: var(--error);
}

.contact-me__form-input:focus.invalid {
	border-color: var(--error);
}

.contact-me__form-input.invalid
	+ .contact-me__form-group__label
	.contact-me__form-label {
	color: var(--error);
}

.contact-me__form-input:focus.invalid
	+ .contact-me__form-group__label
	.contact-me__form-label {
	color: var(--error);
}

.contact-me__form-btn:disabled {
	box-shadow: none;
	background-color: var(--secondary-clr-light);
	color: var(--clr-input-dark);
	cursor: initial;
}

/* Modal styles */
.modal {
	position: var(--p-absolute);
	inset: 0;
	background-color: var(--clr-input-dark);
	backdrop-filter: blur(10px);
	z-index: 7;
	padding: 0 var(--spacing-6);
	display: none;
}

.modal__content {
	max-width: 22.5rem;
	position: var(--p-relative);
	background-color: var(--primary-clr-dark-light);
	color: var(--monochrome-clr-light);
	box-shadow: var(--card-shadow);
	border-radius: var(--rounded-md);
	padding: var(--spacing-14) var(--spacing-7);
	font-size: var(--text-md);
	font-weight: var(--fw-semibold);
}

.modal__close {
	width: 2.5rem;
	height: 2.5rem;
	background-color: transparent;
	color: var(--monochrome-clr-light);
	transition: color var(--transition-base);
	position: var(--p-absolute);
	top: var(--spacing-1);
	right: var(--spacing-1);
}

.modal__close:hover,
.modal__close:focus {
	color: var(--secondary-clr-base);
}

/* Dark / Light theme button switch styles */
.theme-btn-wrapper {
	position: var(--p-relative);
	height: var(--h-full);
}

.theme-btn {
	position: var(--p-fixed);
	bottom: 4.5rem;
	right: calc((100% - var(--wrapper-outer-width)) / 2);
	z-index: 3;
}

.theme-btn svg {
	width: 1.625rem;
	height: 1.625rem;
}

/* Footer styles */
.footer {
	padding: var(--spacing-7) 0;
	font-weight: var(--fw-semibold);
}

/* Media query for the tablet screen with min-width of the 460px - 28.75rem */
@media screen and (min-width: 30rem) {
	/* Base styles */
	body {
		font-size: var(--text-md);
	}

	/* Home page styles */
	.home__desc {
		font-size: 1.25rem;
	}

	/* About Me page styles */
	.about-me,
	.what-i-do,
	.skills,
	.projects__section,
	.blog__section {
		margin: 0 0 var(--spacing-15);
	}

	.project__info-section {
		margin: var(--spacing-8) 0 var(--spacing-15);
	}

	.project__showcase-section {
		margin: var(--spacing-15) 0;
	}

	.about-me__title,
	.what-i-do__title,
	.skills__title {
		margin: 0 0 var(--spacing-8);
	}

	.what-i-do__column-title {
		margin: 0 0 var(--spacing-4);
	}

	.skills__item {
		font-size: 1.25rem;
	}

	/* Project slider styles */
	.projects__slider-slide {
		--offset-y: 12%;
	}

	.project-card {
		max-width: 27.125rem;
		padding: var(--spacing-5) var(--spacing-10);
		left: unset;
	}

	.project-card__info {
		margin: var(--spacing-6) 0;
	}

	.project-card__title {
		margin: 0 0 var(--spacing-3);
	}

	.project-img {
		justify-self: var(--justify-end);
	}

	/* Contact Me section styles */
	.contact-me__section {
		margin: 0 0 var(--spacing-10);
	}

	/* Contact Me Form styles */
	.contact-me__form {
		background-color: var(--form-bg);
		border-radius: var(--rounded-lg);
		padding: var(--spacing-12);
		box-shadow: var(--card-shadow);
		transition: background-color var(--transition-base);
	}
}

/* Media query for the screen with min-width of the 820px - 51.25rem */
@media screen and (min-width: 51.25rem) {
	.about-me {
		padding: var(--spacing-8) 0 0;
	}

	.projects__section,
	.blog__section {
		margin: var(--spacing-8) 0 var(--spacing-15);
	}

	.project__showcase-section {
		margin: var(--spacing-15) 0;
	}

	.project__link-back {
		margin: var(--spacing-4) 0 var(--spacing-4);
	}

	/* Contact Me page styles */
	.contact-me {
		padding: var(--spacing-8) 0 var(--spacing-10);
	}

	.contact-me__section {
		margin: 0 0 var(--spacing-15);
	}

	.contact-me__form {
		padding: var(--spacing-16);
		row-gap: var(--spacing-8);
	}
}

/* Media query for the screen with min-width of the 960px - 60rem */
@media screen and (min-width: 60rem) {
	/* Home page styles */
	.home__section-columns {
		grid-template-columns: 1fr auto;
	}

	/* About Me Page styles */
	.about-me__columns,
	.project__columns {
		grid-template-columns: 47% 28.5rem;
		justify-content: var(--justify-between);
	}

	/* Single project page styles */
	.project__link-back {
		margin: var(--spacing-8) 0 var(--spacing-8);
	}
}

/* Media query for the screen with min-width of the 1060px - 66.25rem */
@media screen and (min-width: 66.25rem) {
	/* Projects slider navigation styles */
	.projects__slider-navigation {
		display: var(--d-grid);
		row-gap: var(--spacing-3);
	}

	.projects__slider-navigation .prev-slide,
	.projects__slider-navigation .next-slide {
		rotate: initial;
	}
}
